table {
  margin: 0 auto;
  margin-bottom: 5rem;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
}

th,
td {
  padding: 0.25rem 4rem;
}

th {
  background-color: rgb(39, 39, 39);
  color: white;
}

tr {
  text-transform: capitalize;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

td:nth-child(1) {
  text-align: left;
}
